<div>
    <mat-sidenav-container class="container">
        <mat-sidenav id="cv-side" class="no-scroll" #sidenav [mode]="sideNavMode" [opened]="isDefaultOpen"
            class="sidenav">
            <div fxHide fxShow.lt-md style="padding: 5px;" fxLayoutAlign="end center">
                <button mat-icon-button="warn" (click)="closeSideNav()"
                    aria-label="Example icon button with a filter list icon">
                    <mat-icon style="color: #ffffff">chevron_left</mat-icon>
                </button>
            </div>

            <div class="avater-container">
                <div class="user-content" fxLayout="column" fxLayoutAlign="center center">
                    <img src="./assets/riad.jpg">
                    <h1>Riad Ahmed Zakir</h1>
                    <mat-divider></mat-divider>
                    <p>Secure Link Service ltd. (Selise)</p>
                    <p>Software engineer</p>
                </div>
                <div class="user-content-triangle"></div>
            </div>

            <div class="contact-section">
                <h2>Contacts</h2>
                <mat-divider style="margin: 0px 10px"></mat-divider>

                <div class="contact-details">
                    <p fxLayoutAlign="start center">
                        <mat-icon>call</mat-icon>
                        +880 1733558934
                    </p>

                    <p fxLayoutAlign="start center">
                        <mat-icon>email</mat-icon>
                        <a href="mailto:zakir.riad@gmail.com">zakir.riad@gmail.com</a>
                    </p>

                    <p fxLayoutAlign="start center">
                        <mat-icon>memory</mat-icon>
                        <a href="https://github.com/riadahmedzakir" target="_blank">Github - riadahmedzakir</a>
                    </p>

                    <p fxLayoutAlign="start center">
                        <mat-icon>perm_identity</mat-icon>
                        <a href="https://www.linkedin.com/in/riad-ahmed-18a24318b/" target="_blank">LinkedIn</a>
                    </p>

                    <p fxLayoutAlign="start center">
                        <mat-icon>web</mat-icon>
                        <a href="https://riadahmedzakir.github.io/" target="_blank">Website</a>
                    </p>

                    <p fxLayoutAlign="start center">
                        <mat-icon>pin_drop</mat-icon>
                        13/11 Babar road, Block - B, Mohammadpur, Dhaka - 1207
                    </p>
                </div>
            </div>

        </mat-sidenav>

        <mat-sidenav-content>
            <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="start star">
                <mat-toolbar fxFlex="100">
                    <div fxFlex="100" fxLayout="row" fxLayoutAlign="space-between center">
                        <button mat-icon-button color="secondary" (click)="sidenav.toggle()">
                            <mat-icon>menu</mat-icon>
                        </button>

                        <div fxLayoutAlign="center center">
                            <button matTooltip="Swtich to designers view" mat-icon-button color="primary" (click)="route()">
                                <mat-icon>switch_access_shortcut</mat-icon>
                            </button>

                            <button matTooltip="Download compressed pdf" mat-icon-button color="primary"
                                (click)="downloadFile()">
                                <mat-icon>file_download</mat-icon>
                            </button>

                            <button fxHide fxShow.gt-md [disabled]="true" matTooltip="Convert & Download as PDF"
                                mat-icon-button color="primary" (click)="downloadAsPdf()">
                                <mat-icon *ngIf="!isDownloadDisabled">picture_as_pdf</mat-icon>
                                <mat-spinner *ngIf="isDownloadDisabled" diameter=25></mat-spinner>
                            </button>
                        </div>
                    </div>
                </mat-toolbar>

                <div class="details-container" id="cv-body">
                    <mat-divider></mat-divider>

                    <div class="details-inner-container">
                        <h1 fxLayoutAlign="start center">
                            <mat-icon>account_circle</mat-icon>
                            <span>Profile</span>
                        </h1>

                        <mat-divider></mat-divider>
                        <div class="details-text-container">
                            <p>
                                I'm a software engineer with three years of experience in the field of web application
                                development. I have been mainly working on front end development with scalable
                                frameworks, with knowledge of some backend technologies. Adept at agile development
                                process with an urge for scale, performance and architectural elegance. Now looking for
                                opportunities to develop myself and my career by working on different environment and
                                technologies.
                            </p>

                            <p>
                                My job responsibilities mainly include working with front end development but I have
                                acquired enough skills to present myself as a full stack developer as I have had
                                opportunities to oversee projects throughout it's full life cycle.
                            </p>
                        </div>


                        <h1 fxLayoutAlign="start center">
                            <mat-icon>class</mat-icon>
                            <span>Professional skills</span>
                        </h1>

                        <mat-divider></mat-divider>
                        <div class="details-text-container" fxLayout.gt-sm="row" fxLayout="column">
                            <div fxFlex="50">
                                <h2>Skills</h2>
                                <div fxLayout="column" class="skill-bar-container">
                                    <p fxFlex="20">Angular</p>
                                    <mat-progress-bar class="progress-100" mode="determinate"
                                        [value]="progressBarAnimate.angular">
                                    </mat-progress-bar>
                                </div>

                                <div fxLayout="column" class="skill-bar-container">
                                    <p fxFlex="20">Javascript</p>
                                    <mat-progress-bar class="progress-80" mode="determinate"
                                        [value]="progressBarAnimate.javascript">
                                    </mat-progress-bar>
                                </div>

                                <div fxLayout="column" class="skill-bar-container">
                                    <p fxFlex="20">HTML/CSS</p>
                                    <mat-progress-bar class="progress-60" mode="determinate"
                                        [value]="progressBarAnimate.htmlCss">
                                    </mat-progress-bar>
                                </div>

                                <div fxLayout="column" class="skill-bar-container">
                                    <p fxFlex="20">Node</p>
                                    <mat-progress-bar class="progress-40" mode="determinate"
                                        [value]="progressBarAnimate.node">
                                    </mat-progress-bar>
                                </div>

                                <div fxLayout="column" class="skill-bar-container">
                                    <p fxFlex="20">Sql(mySql, Oracle)</p>
                                    <mat-progress-bar class="progress-20" mode="determinate"
                                        [value]="progressBarAnimate.sql">
                                    </mat-progress-bar>
                                </div>

                                <div fxLayout="column" class="skill-bar-container">
                                    <p fxFlex="20">Automation(e2e, unit)</p>
                                    <mat-progress-bar class="progress-10" mode="determinate"
                                        [value]="progressBarAnimate.automation">
                                    </mat-progress-bar>
                                </div>
                            </div>
                            <div fxFlex="50">
                                <h2>Knowledge</h2>

                                <div fxLayout="column" class="skill-bar-container">
                                    <p fxFlex="20">C/C++</p>
                                    <mat-progress-bar class="progress-100" mode="determinate"
                                        [value]="progressBarAnimate.cCP">
                                    </mat-progress-bar>
                                </div>

                                <div fxLayout="column" class="skill-bar-container">
                                    <p fxFlex="20">C#/Java</p>
                                    <mat-progress-bar class="progress-80" mode="determinate"
                                        [value]="progressBarAnimate.cJava">
                                    </mat-progress-bar>
                                </div>

                                <div fxLayout="column" class="skill-bar-container">
                                    <p fxFlex="20">Shell</p>
                                    <mat-progress-bar class="progress-60" mode="determinate"
                                        [value]="progressBarAnimate.shell">
                                    </mat-progress-bar>
                                </div>

                                <div fxLayout="column" class="skill-bar-container">
                                    <p fxFlex="20">OpenGl/Php</p>
                                    <mat-progress-bar class="progress-40" mode="determinate"
                                        [value]="progressBarAnimate.openPhp">
                                    </mat-progress-bar>
                                </div>

                                <div fxLayout="column" class="skill-bar-container">
                                    <p fxFlex="20">Rest-Api</p>
                                    <mat-progress-bar class="progress-20" mode="determinate"
                                        [value]="progressBarAnimate.rest">
                                    </mat-progress-bar>
                                </div>

                                <div fxLayout="column" class="skill-bar-container">
                                    <p fxFlex="20">Web hosting</p>
                                    <mat-progress-bar class="progress-10" mode="determinate"
                                        [value]="progressBarAnimate.web">
                                    </mat-progress-bar>
                                </div>
                            </div>
                        </div>

                        <h1 fxLayoutAlign="start center">
                            <mat-icon>military_tech</mat-icon>
                            <span>Experiences</span>
                        </h1>

                        <mat-divider></mat-divider>
                        <div class="details-text-container">
                            <div class="timeline-container">
                                <div class="timeline">
                                    <div *ngFor="let item of experineceList" class="single-activity">
                                        <div fxLayout="row" class="activity-content">
                                            <div class="icon-container">
                                                <mat-icon>{{item.Icon}}</mat-icon>
                                            </div>

                                            <div class="desc-box">
                                                <h2 fxLayoutAlign="start center">
                                                    <span>{{item.Title}}</span>
                                                    <mat-icon *ngIf="item.Link" (click)="redreict(item.Link)"
                                                        data-html2canvas-ignore="true">launch
                                                    </mat-icon>
                                                </h2>
                                                <p *ngFor="let text of item.Description">
                                                    {{text}}
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <h1 fxLayoutAlign="start center">
                            <mat-icon>task</mat-icon>
                            <span>Project</span>
                        </h1>

                        <mat-divider></mat-divider>
                        <div class="details-text-container">
                            <div class="timeline-container">
                                <div class="timeline">
                                    <div *ngFor="let item of projectList" class="single-activity">
                                        <div fxLayout="row" class="activity-content">
                                            <div class="icon-container">
                                                <mat-icon>{{item.Icon}}</mat-icon>
                                            </div>

                                            <div class="desc-box">
                                                <h2 fxLayoutAlign="start center">
                                                    <span>{{item.Title}}</span>
                                                    <mat-icon *ngIf="item.Link" (click)="redreict(item.Link)"
                                                        data-html2canvas-ignore="true">launch
                                                    </mat-icon>
                                                </h2>
                                                <p *ngFor="let text of item.Description">
                                                    {{text}}
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <h1 fxLayoutAlign="start center">
                            <mat-icon>handyman</mat-icon>
                            <span>Tools</span>
                        </h1>

                        <mat-divider></mat-divider>
                        <div class="details-text-container">
                            <p>
                                Docker, Continous integration/Deplyoment tools (Travis-ci, Jenkins), Amazon web service
                                (AWS), Kubernetes.
                            </p>
                            <p>
                                Vs studio, Postman, Insomnia, Source control (sourcetree, git kraken), photoshop.
                                Fimiliar with vps, iis, nginx, docker, jenkins, data scraping, task automation.
                            </p>

                        </div>

                        <h1 fxLayoutAlign="start center">
                            <mat-icon>auto_stories</mat-icon>
                            <span>Thesis</span>
                        </h1>

                        <mat-divider></mat-divider>
                        <div class="details-text-container">
                            <p>Low cost data communication and key based authentication for ambient assisted living</p>
                        </div>

                        <h1 fxLayoutAlign="start center">
                            <mat-icon>school</mat-icon>
                            <span>Educational degree</span>
                        </h1>

                        <mat-divider></mat-divider>
                        <div class="details-text-container" fxLayout.gt-sm="row" fxLayout="column">
                            <div fxFlex="50">
                                <h2>Bsc in Computer Science and Enginnering (CSE)</h2>
                                <div class="education-degree-text">
                                    <p>American International University - Bangladesh (AIUB)</p>
                                    <p>CGPA : 3.36</p>
                                    <p>2014-2017</p>
                                </div>
                            </div>
                            <div fxFlex="50">
                                <h2>Higher Secondary/Secondary School Certificate</h2>
                                <div class="education-degree-text">
                                    <p>Dhaka Residential Model Collage (DRMC)</p>
                                    <p>CGPA : 4.20 & 5.00</p>
                                    <p>2011-2013 & 2009-2011</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>